blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
META.json
MYMETA.yml
MYMETA.json
nytprof.out
pm_to_blib
*.tar
*.gz
MANIFEST
Makefile.PL
t/db/
t/workflow_tests.log
*.sublime-project
*.sublime-workspace
.DS_Store
local/
eg/ticket/db/
eg/ticket/workflow.log
perl-workflow.code-workspace
db/workflow.db
