<html>
<head>
  <title>Create a Ticket</title>
</head>
<body bgcolor="#ffffff">

<h1>Error</h1>

<p>I encountered an error while trying to process '[% action %]':<br>
[% error_msg %]</p>

</body>
</html>