<html>
<head>
  <title>Create a Ticket</title>
</head>
<body bgcolor="#ffffff">

[% PROCESS error_message.tmpl %]

<h1>Workflow System</h1>

<p>Welcome to the workflow system! This is a simple web interface to
give you examples of how different interfaces (in this case a web
application and a command-line application) can use the same workflow
system, providing consistency for all your applications.</p>

<p>At this point the only things you can do are:</p>

[% IF current_user %]

<p><a href="[% base_url %]/create/">Create a new workflow</a></p>

<form method="GET" action="[% base_url %]/fetch/">
<p>Use an existing workflow:<br>
ID: <input type="text" size="8" name="workflow_id"> <input type="submit" value="Fetch Workflow">
</p>
</form>

[% ELSE %]

<p>First things first: you need to login!</p>

<form method="GET" action="[% base_url %]/login/">
<p>Your first name: <input type="text" size="10" name="current_user"> <input type="submit" value="Login">
</p>
</form>

[% END %]

</head>
</html>