<hr noshade>
<p>
[% IF workflow %]
 [<a href="/history/">Show history</a>]
 [Execute action: 
 [%- FOREACH action = available_actions %]
   <a href="/execute/?action=[% action %]">[% action %]</a> 
 [% END -%]
 ]
[% ELSE %]
<p>No workflow available to act on.</p>
[% END %]