<table cellpadding="2" cellspacing="0" border="0" bgcolor="#eeeeee">
<tr>
  <td>ID</td><td>[% workflow.id %]</td>
</tr>
<tr>
  <td>Type</td><td>[% workflow.type %]</td>
</tr>
<tr>
  <td>Current state</td><td>[% workflow.state %]</td>
</tr>
<tr>
  <td>Last updated</td><td>[% workflow.last_update.strftime( '%Y-%m-%d %H:%M' ) %]</td>
</tr>
</table>
<br>