<html>
<head>
  <title>Create a Ticket</title>
</head>
<body bgcolor="#ffffff">

<h1>Workflow Created</h1>

<p>The workflow was successfully created. Use the ID below to get
information and execute actions against it.</p>

[% PROCESS workflow_summary.tmpl( workflow = workflow ) %]

[% PROCESS workflow_actions.tmpl( workflow = workflow ) %]

</body>
</html>