<h1>Workflow System</h1>

<p>Welcome to the workflow system! This is a simple web interface to
give you examples of how different interfaces (in this case a web
application and a command-line application) can use the same workflow
system, providing consistency for all your applications.</p>

<p>At this point the only things you can do are:</p>

<p><a href="/create/">Create a new workflow</a></p>

<form method="GET" action="/fetch/">
<p>Use an existing workflow:<br>
ID: <input type="text" size="8" name="workflow_id"> <input type="submit" value="Fetch Workflow">
</p>
</form>
